<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
		<script type="text/javascript" src="/js/Fruit.js"></script>
		<style>
			.container {
				width: 80%;
				height: 100%;
				margin-left: 10%;
				background-color: skyblue;
			}
			.fruit_list {

			}
			table {
				width: 100%;
				border: 1px solid black;
				border-collapse: collapse;
				font-family: "楷体";
				font-weight: lighter;
				color: gray;
				text-align: center;
			}
			th {
				color: black;
			}
			tr, th, td {
				border: 1px solid black;
			}
			tr:hover {
				background-color: green;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<a th:href="@{/fruit.do(operate=renderAddPage)}">添加Fruit</a>
			<div class="fruit_list">
				<table>
					<tr>
						<th>名称</th>
						<th>单价</th>
						<th>数量</th>
						<th>小计</th>
						<th>操作</th>
					</tr>
					<tr th:if="${#lists.isEmpty(session.fruits)}">
						<td colspan="4">对不起, 库存为空</td>
					</tr>
					<tr th:if="${not #lists.isEmpty(session.fruits)}" th:each="fruit : ${session.fruits}">
						<td><a th:text="${fruit.name}" th:href="@{/fruit.do(operate=renderEditPage, name=${fruit.name})}"></a></td>
						<td th:text="${fruit.price}">3</td>
						<td th:text="${fruit.count}">5</td>
						<td th:text="${fruit.count * fruit.price}"></td>
						<td>
							<button type="button" th:onclick="deleteFruit([[${fruit.name}]])">
								delete
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>